    body {
        margin: 0;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        background-color: #010101;
        color: #FFF;
    }
    
    code {
        font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    }
    
    button {
        cursor: pointer;
    }
    
    .parant {
        text-align: center;
        width: 600px;
        padding-top: 50px;
        margin: 0 auto;
    }
    
    .headerTodoList {
        color: #FF9121;
    }
    
    .wrapper-for-todoList {
        color: #fff;
    }
    
    .wrapper-for-todo {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        border-bottom: 1px solid #0A0A0A;
        padding: 10px 10px;
    }
    
    .wrapper-for-todo:first-child {
        border-top: 1px solid #0A0A0A;
    }
    
    .element-wrapper {
        padding: 0px 10px;
    }
    
    .checkbox {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
    
    .checkbox+label {
        position: relative;
        width: 21px;
        display: block;
        height: 21px;
        cursor: pointer;
        border: 2px solid #F4A505;
        border-radius: 100%;
    }
    
    .checkbox+label:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        transition: all 0.1s;
        transform: scale(0.8);
    }
    
    .checkbox:checked+label:after {
        background: #F4A505;
    }
    
    .title-todoItem {
        margin: 0px;
        word-break: break-word;
        outline: none;
        flex-grow: 1;
        text-align: left;
    }
    
    .complete {
        text-decoration: line-through;
    }
    
    .date-info {
        opacity: 0.5;
        flex-shrink: 0;
        margin-left: 5px;
    }
    
    .close-btn {
        width: 25px;
        height: 25px;
        outline: none;
        display: inline-flex;
        line-height: 20px;
        border-radius: 100%;
        border: 2px solid #F4A505;
        color: #F4A505;
        margin-left: 15px;
        background-color: inherit;
        font-size: 16px;
    }
    
    .close-btn:active {
        background-color: #df9604;
    }
    
    .wrapper-for-formCreateTodo {
        display: flex;
        justify-content: center;
        margin-bottom: 25px;
    }
    
    .formCreateTodo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 245px;
        border: 1px solid #0A0A0A;
    }
    
    .input-for-createTodo {
        outline: none;
    }
    
    .btn-addTodo {
        background-color: inherit;
        color: #FF9121;
        border: none;
    }
    
    .validationMessage {
        border: 1px solid;
        border-radius: 6px;
        padding: 7px;
        background-color: #ffd800;
    }